body {
  background-color: #cac6c6;
  margin: 0;
  padding: 0;
}

.details {
  background-color: #ffffff;
  border-radius: 7px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

label {
  padding: .25rem;
  font-weight: bold;
}

.home {
  display: grid;
  grid-template-columns: 3fr 2fr;
}